<!DOCTYPE html>
<html>
  <head>
    <title>Trema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

    <link href="https://fonts.googleapis.com/css2?family=Chillax:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <%= javascript_importmap_tags %>
  </head>

  <body>

<%= render "layouts/header" %>
<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
