
<div class= "quizz-container">
<h2 class="quizz-title">Aide-nous à te connaître !</h2>
<h3 class="quizz-sous-title"><%= "(c'est pas long en vrai)"%></h3>

  <div class=" card-quizz ">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
                        html: {
                          novalidate: false,
                          data: {
                            controller: "form-button",
                            action: "submit->form-button#animateFormButton"
                          }
                        }) do |f| %>
      <%= f.error_notification %>

      <div class="quizzes" data-controller="navigate-quizz">
        <%= render "users/initial_form", f: f %>

        <!-- Ici les champs pour enregistrer l'user -->
        <div class="d-none" data-navigate-quizz-target="quizz">
          <div class="form-inputs box-form-devise">
            <%= f.input :first_name,
                        required: true,
                        label: "Prénom"%>
            <%= f.input :last_name,
                        required: true,
                        label: "Nom"%>
            <%= f.input :address,
                        required: true,
                        label: "Adresse"%>
            <%= f.input :email,
                        required: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        label: "Mot de passe",
                        hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                        input_html: { autocomplete: "mot de passe" } %>
          </div>
          <div class="form-actions custom-radio-buttons">
            <%= f.button :submit, "Poursuivre", class: "bubbly-button mt-4" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
 </div>

<%#= render "devise/shared/links" %>
